.header {
    height: 212px;
    width: 100%;
    background: #EFEFEF;
    display: flex;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}
h1{
    color: #676b68;
}

/* RESPONSIVIDADE */

@media (max-width: 600px) {
    .container {
        max-width: 100%;
        padding-bottom: 4rem; 
        padding: 0 2rem;
        margin-top: 2rem;
    }

    .container table {
        display: none;
    }
}